/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top__container {
  background-color: #222;
  height: 75px;
  padding-top: 18px;
  padding-bottom: 19px;
}

.head__navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 41px;
}

.head__buttons {
  display: flex;
  gap: 41px;
  justify-content: center;
  align-items: center;
}

.head_menu {
  border: none;
  background-color: #222;
}

.top__head__title {
  background-color: #F1E4E6;
}

.image {
  max-width: 790px;
}

.head__title {
  width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right__side__head {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.text {
  width: 377px;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.text .h2 {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.text .h2pink {
  color: #F16D7F;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.top__cards {
  padding-top: 91px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.top__card {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.top__card__big {
  margin: auto;
  max-width: 1140px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centered h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.centered h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

.centered h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.centered h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

.products {
  padding-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: ColorTopAndFoot;
}

.main__title p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin-top: 6px;
}

.all__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  margin-top: 48px;
}

.product__card {
  display: flex;
  flex-direction: column;
}

/*--product card hover image --*/
.prod__image_cont {
  position: relative;
}

.prod__image_cont:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
}

.prod__image_cont:hover::before {
  background: rgba(58, 56, 56, 0.86);
}

.prod__image_cont img {
  display: block;
}

.prod__image_cont .btn {
  width: 138px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
  background: none;
  border: 1px solid #FFFFFF;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.prod__image_cont:hover button {
  opacity: 1;
}

.card__text {
  background-color: #f8f8f8;
  padding-left: 16px;
  padding-right: 29px;
  width: 360px;
}

.card__text h3 {
  padding-top: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card__text p {
  margin-top: 12.6px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.card__text h4 {
  margin-top: 18px;
  padding-bottom: 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.all__prod__button {
  margin-top: 48.5px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all__prod__button button {
  width: 211px;
  height: 47px;
  border: 1px solid #ff6a6a;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  background: none;
}

.all__prod__button button:hover {
  color: #FFFFFF;
  background: #F16D7F;
}

.main__bottom {
  margin: 0 auto;
  align-items: center;
}

.footer__info {
  height: 341px;
  background: #222;
  margin-top: 95px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.footer__info__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
  width: 360px;
  height: 133px;
  justify-content: space-between;
}

.footer__info__card h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
}

.footer__info__card p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.footer__subscribe {
  height: 448px;
  background-image: url(./img/footer\ font.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer__blur {
  background: rgba(244, 244, 244, 0.7);
  height: 448px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 223px;
}

.footer__subscribe__info {
  width: 360px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__subscribe__info p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222;
  height: 99px;
}

.footer__subsc_subsc {
  width: 557px;
  height: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer__subsc_subsc__text {
  text-align: center;
}

.footer__subsc_subsc__text h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #222;
}

.footer__subsc_subsc__text p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #222;
}

.footer__subsc__form__btn form {
  width: 356px;
  height: 49px;
  display: flex;
  justify-content: center;
}

.footer__subsc__form__btn input {
  width: 256px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222;
  opacity: 0.67;
  background: #E1E1E1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-left: 22px;
  border: none;
}

.footer__subsc__form__btn button {
  width: 65% 0px;
  height: 49px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background: #F16D7F;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  vertical-align: middle;
  padding-left: 15px;
  border: none;
}

.footer__navbar {
  height: 79px;
  margin: 0 auto;
  align-items: center;
  background: #222;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__navbar p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  margin-left: 235px;
}

.footer__navbar__icons {
  width: 148px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  margin-right: 230px;
}

.footer__navbar__icons a {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.fa {
  width: 31px;
  height: 32px;
  background: #FFFFFF;
  color: #000000;
}

.fa:hover {
  background: #F16D7F;
  color: #FFFFFF;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__box {
  right: 0 !important;
}

.menu__btn {
  padding-right: 25px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 32px;
  height: 3px;
  background-color: #e8e8e8;
  transition-duration: 0.25s;
}

.menu__btn > span {
  margin-top: -5px;
  padding-right: 10px;
}

.menu__btn > span::before {
  content: "";
  top: -10px;
}

.menu__btn > span::after {
  content: "";
  top: 10px;
}

.menu__box {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 75px;
  right: -200%;
  width: 232px;
  height: 634px;
  margin: 0;
  padding-top: 32px;
  padding-left: 33px;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
  z-index: 65%;
}

.menu__box h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.menu__box h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  padding-top: 20px;
}

.menu__item {
  display: block;
  padding-left: 20px;
  padding-top: 12px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  transition-duration: 0.25s;
}

.top_heading_title {
  height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F3F4;
}

.text_product_list_left {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text_product_list_right {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.text_product_list_right .h2_product_list_pink {
  color: #F16D7F;
}

.box__menu-checbox {
  width: 100px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.box__checbox {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.button_menu-chekbox {
  position: relative;
}

.img_title {
  width: 98%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.img_top_product {
  height: 777px;
  background-color: #F7F7F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.arrows_img {
  padding: 8px;
  background-image: url(img/Arrow\ copy.svg);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}

.all__cards_product_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  margin-top: 48px;
}

.menu_prise_button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.prise_product {
  width: 1141px;
  transform: translate(0px, -65px);
  display: flex;
  padding: 292px;
  padding-top: 65px;
  padding-bottom: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 2px;
  background-color: #fff;
  box-shadow: 1px 1px 1px #e6e6e6;
}

.product_list {
  transform: translate(0px, -65px);
  padding-bottom: 128px;
}

.prise_list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text_prise {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.text_prise .h2_pink_prise {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.text_prise .h1_prise {
  color: #4D4D4D;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 48px;
}
.text_prise .text_prise_paragraph {
  width: 555px;
  color: #5E5E5E;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 32px;
}
.text_prise .prise {
  color: #EF5B70;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 65px;
}

.menu_prise_footer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.vertor_prise {
  width: 641px;
  padding-left: 65px;
  padding-bottom: 65px;
  justify-content: center;
  align-items: center;
}

.vector_prise_pink {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box__filter__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__sort {
  display: flex;
  justify-content: space-between;
  padding-top: 39px;
  position: relative;
}

.filter {
  display: flex;
  align-items: start;
  padding: 13px 16px 16px;
  width: 360px;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  /*___________________*/
}
.filter[open] {
  color: #EF5B70;
}
.filter[open] {
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] path {
  fill: #EF5B70;
}
.filter__text-category {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter__summary {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 11px;
}
.filter__heading {
  display: flex;
  justify-content: start;
  gap: 11px;
  align-items: center;
  box-shadow: 0px 1px 0px 0px rgba(107, 107, 107, 0.21);
}

.sort {
  display: flex;
  padding-left: 390px;
  padding-top: 10px;
  gap: 30px;
}
.sort__button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter__link-box {
  padding-top: 24px;
  padding: 24px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 11px;
}

.filter__catalog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter__item {
  padding-top: 16px;
  display: flex;
  gap: 18px;
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter__item[open] {
  color: #EF5B70;
}

.box__filter-items {
  display: flex;
  gap: 18px;
  flex-direction: column;
}

.filter__link {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.shopcart {
  display: flex;
  justify-content: start;
  flex-direction: row;
}

.cart {
  position: relative;
  width: 652px;
  display: flex;
  flex-direction: row;
  gap: 31px;
  box-shadow: 5px 4px 10px rgb(226, 226, 226);
}

.shopcart__carts {
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.title_cart {
  width: 210px;
  padding-top: 22px;
  padding-bottom: 42px;
  color: #222;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text__cart {
  padding-top: 22;
  color: #575757;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input {
  width: 44px;
  padding-left: 24px;
}

.close__x {
  padding-top: 22px;
  padding-left: 319px;
  position: absolute;
}

.body_shopcart {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.button_shopingcart {
  display: flex;
  gap: 269px;
  padding-top: 72px;
  padding-bottom: 96px;
  border: none;
}

.c-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1;
  color: #747474;
  border-color: #dadada;
  padding: 17px 16px;
  background-color: #ffffff;
}
.c-button__prise {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  color: #ffffff;
  border-color: #818181;
  padding: 17px 16px;
  background-color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.c-button__registration {
  margin-top: 59px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 167px;
  height: 50px;
  border: none;
  color: #ffffff;
  padding: 17px 16px;
  background-color: #F16D7F;
}

.shopcart__prise {
  padding-top: 113px;
  padding-left: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  align-items: start;
}

.input_prise {
  width: 360px;
  padding: 16px 12px 15px;
  margin: 10px 0;
}

.box__prise {
  background-color: #F5F3F3;
  width: 360px;
  display: flex;
  flex-direction: column;
}

.prise {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  padding-top: 39px;
  padding-bottom: 17px;
  padding-right: 34px;
  gap: 17px;
}

.chek {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 41px;
}

.paragraph__prise {
  color: #4A4A4A;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.heading__prise {
  color: #222;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.pink {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.item_shop {
  color: #EF5B70;
  font-family: Lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.box___shopcardprise {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  padding-bottom: 50px;
}

.chekcbox__menu {
  display: flex;
  gap: 20px;
}

.list__ {
  list-style: none;
  display: flex;
  flex-direction: column;
}

ol > li {
  margin: 16px;
}

ol > li:before {
  top: 0;
  left: 0;
  color: rgb(0, 0, 0);
}

.list__chek {
  display: flex;
  gap: 24px;
}

.title__reg {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.paragraph__reg {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.paragraph__reg__menu {
  padding-top: 15px;
  width: 370px;
  color: #B1B1B1;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.reg__title {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.box_reg_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
}

.title__reg__text {
  display: flex;
  flex-direction: column;
  width: 511px;
  justify-content: start;
  align-items: start;
  gap: 20px;
}

.body_reg {
  padding-top: 34px;
  padding-bottom: 40px;
}

.h3__text {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.padding__top {
  padding-top: 35px;
}

@media (max-width: 1024px) {
  .top__container {
    width: 100%;
    margin: auto;
  }
  .container {
    max-width: 1024px;
  }
  .logo {
    margin-left: 32px;
  }
  .head__buttons {
    margin-right: 32px;
  }
  .image {
    width: 384px;
  }
  .right__side__head {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 39px;
    margin-top: 138px;
    margin-bottom: 138px;
    margin-right: 33px;
    width: 311px;
    height: 92px;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: calc(50% - 570px);
    font-size: 20;
    line-height: 0.8;
  }
  .text .h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .text .h2pink {
    font-size: 22px;
    line-height: 28px;
  }
  .top__card {
    position: relative;
    text-align: center;
    margin-bottom: 0px;
  }
  .top__cards {
    display: flex;
    justify-content: start;
    padding: 18px 16px 16px;
  }
  .top__cards img {
    display: flex;
    justify-content: center;
    width: 360px;
  }
  .top__card__big {
    margin: 0px 16px 16px;
  }
  .main__title p {
    margin-top: 3px;
  }
  .all__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    margin-top: 72px;
  }
  .all__prod__button {
    margin-top: 33px;
    margin-bottom: 65px;
  }
  .footer__info {
    height: 610px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
  .footer__info__card {
    width: 260px;
  }
  .footer__subscribe {
    height: 693px;
    margin: 0 auto;
    background-size: cover;
  }
  .footer__blur {
    height: 693px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  .footer__navbar p {
    margin-left: 32px;
  }
  .footer__navbar__icons {
    margin-right: 23px;
  }
  .top_heading_title {
    padding: 20px;
  }
  .box__filter__center {
    display: flex;
    justify-content: center;
  }
  .filter__sort {
    margin-right: 40px;
  }
  .products {
    padding-top: 0px;
    margin: 0px;
  }
  .prise_button {
    border: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background: none;
  }
  .prise_product {
    width: 768px;
  }
  .all__cards_product_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 72px;
  }
  .card___3 {
    display: none;
  }
  .body_reg .reg__title {
    display: flex;
    justify-content: center;
  }
  .body_reg .reg__title .paragraph__reg {
    width: 354px;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .body_reg .reg__title .title__reg__text {
    display: flex;
    align-items: center;
  }
  .shopcart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .shopcart__prise {
    width: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0px;
  }
  .box__prise {
    padding-bottom: 60px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .top__container {
    width: 100%;
  }
  .logo {
    margin-left: 16px;
  }
  .head__buttons .head_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .image {
    display: none;
  }
  .right__side__head {
    display: flex;
    flex-direction: row;
    width: 263px;
    height: 66px;
  }
  .rectangle {
    height: 61px;
    margin-right: 15px;
  }
  .text {
    padding-top: 6px;
    font-size: 38px;
    line-height: 0.7;
  }
  .text span.h2 {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .text .h2pink {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .top__cards {
    display: grid;
    grid-template-columns: 1fr;
    height: auto;
    margin: auto;
    margin-top: 64px;
    gap: 32px;
  }
  .card__text {
    width: 100%;
    font-size: 17px;
  }
  .card__text p {
    font-size: 13px;
  }
  .top__card__big {
    grid-area: 4/1/5/2;
    height: 111px;
  }
  .top__card__big img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .product__card {
    width: 291px;
  }
  .all__cards {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 64px;
  }
  .all__prod__button {
    margin-top: 41px;
  }
  .footer__info {
    gap: 46px;
  }
  .footer__subscribe {
    height: 550px;
  }
  .footer__blur {
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }
  .footer__navbar {
    height: 143px;
    flex-direction: column-reverse;
  }
  .footer__navbar p {
    margin-left: 0px;
    margin-bottom: 9px;
  }
  .footer__navbar__icons {
    margin-right: 0px;
    margin-top: 43px;
  }
  .footer__subscribe__info {
    width: 300px;
    height: 194px;
    justify-content: space-between;
  }
  .footer__subscribe__info p {
    height: 73px;
    font-size: 18px;
  }
  .footer__subsc_subsc {
    width: 300px;
    height: 123px;
  }
  .footer__subsc_subsc__text {
    text-align: center;
  }
  .footer__subsc_subsc__text h2 {
    line-height: 36px;
  }
  .footer__subsc_subsc__text p {
    font-size: 14px;
    line-height: 21.45px;
  }
  .footer__subsc__form__btn form {
    width: 341px;
    height: 47px;
  }
  .footer__subsc__form__btn input {
    width: 200px;
  }
  .footer__subsc__form__btn button {
    width: 95.7px;
    height: 47px;
  }
  .top_heading_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .filter__sort {
    display: flex;
    width: 100px;
    padding-right: 200px;
  }
  .box__filter__center {
    width: 300px;
  }
  .filter {
    width: 300px;
    font-size: 15px;
  }
  .filter .text__filter {
    display: none;
  }
  .filtre__svg {
    width: 37px;
    height: 25px;
  }
  .sort {
    display: flex;
    padding-left: 120px;
    padding-top: 10px;
    gap: 5px;
  }
  .sort__button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
  }
  .shopcart {
    width: 320px;
  }
  .body_shopcart {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
  }
  .cart {
    width: 280px;
    height: 161px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 17px;
  }
  .shopcart__prise {
    width: 280px;
    display: flex;
    flex-direction: column;
  }
  .shopcart__prise .box___shopcardprise {
    width: 270px;
    padding: 0;
    margin: 0;
  }
  .shopcart__prise .box___shopcardprise h1 {
    font-size: 16px;
  }
  .shopcart__prise .box___shopcardprise .custom-field {
    width: 300px;
  }
  .shopcart__prise .box___shopcardprise .custom-field .input_prise {
    width: 270px;
  }
  .body_shopcart {
    margin: auto;
    padding-right: 18px;
    padding-bottom: 96px;
  }
  .box__prise {
    width: 270px;
    height: 214px;
  }
  .box__prise .prise {
    display: flex;
    justify-content: center;
    width: 240px;
  }
  .box__prise .prise svg {
    padding-left: 100px;
  }
  .chek {
    width: 270px;
    margin: auto;
  }
  .text__cart {
    font-size: 14px;
  }
  .text__cart .title_cart {
    padding-top: 0px;
    width: 125px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 35px;
  }
  .text__cart .title_cart h1 {
    padding-bottom: 0px;
  }
  .text__cart .item_shop {
    font-size: 14px;
  }
  .text__cart .close__x {
    padding-top: 0px;
    padding-left: 120px;
    position: absolute;
  }
  .text__cart .close__x svg {
    width: 10px;
  }
  .button_shopingcart {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    gap: 18px;
    padding-bottom: 40px;
    border: none;
  }
  .button_shopingcart .c-button {
    border: 1;
    color: #747474;
    border-color: #dadada;
    padding: 5px 7px;
    background-color: #ffffff;
    color: #575757;
    text-align: center;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .c-button__prise {
    width: 240px;
  }
  .reg__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box_reg_list {
    width: 280px;
  }
  .box_reg_list .custom-field {
    width: 270px;
  }
  .box_reg_list .custom-field .input_prise {
    width: 270px;
  }
  .box_reg_list .paragraph__reg__menu {
    width: 270px;
  }
  .box_reg_list .c-button__registration {
    margin-top: 15px;
  }
  .title__reg__text {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0px;
    width: 290px;
  }
  .title__reg__text h1 {
    font-size: 16px;
  }
  .paragraph__reg {
    width: 290px;
    padding-left: 0px;
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */